In [1]:
import os
import json
import numpy
import pandas as pd
import numpy as np
from tqdm import tqdm
os.environ['CUDA_VISIBLE_DEVICES'] = '1'

In [3]:
df = pd.read_csv('train_ver2.csv')

/tmp/ipykernel_657606/1621394854.py:1: DtypeWarning: Columns (5,8,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('train_ver2.csv')

In [4]:
categorical_col = ['ind_empleado', 'pais_residencia', 'sexo', 'ind_nuevo', 'tiprel_1mes', 'indresi', 'indext', 'conyuemp', 'canal_entrada', 'indfall', 'nomprov', 'ind_actividad_cliente', 'segmento']
interval_col = ['antiguedad', 'age', 'renta']
label_col = df.columns[-24:]

list_encoded = {}
for col in categorical_col:
    mapping_value = {}
    categorical = list(df[col].unique())
    for id, cate in enumerate(categorical):
        mapping_value[cate] = id+1
    list_encoded[col] = mapping_value
    
def transform_age(age):
    if isinstance(age, str):
        return 0
    if age < 20:
        return 1
    elif age < 30:
        return 2
    elif age < 40:
        return 3
    elif age < 50:
        return 4
    elif age < 60:
        return 5
    else:
        return 6


def transform_categorical(dict_, x):
    if x not in dict_.keys():
        return 0
    return dict_[x]

def transform_membership(month):
    if isinstance(month, str):
        return 0
    if month < 24:
        return 1
    elif month < 60:
        return 2
    elif month < 120:
        return 3
    else: 
        return 4

def transform_income(income):
    if isinstance(income, str):
        return 0
    if income < 5e4:
        return 1
    elif income < 1e5:
        return 2
    elif income < 5e5:
        return 3
    else:
        return 4

def transform_value(df):
    for col in tqdm(categorical_col):
        df[col] = df[col].apply(lambda x: transform_categorical(list_encoded[col], x))
    df['age'] = df['age'].apply(lambda x: transform_age(x))
    df['antiguedad'] = df['antiguedad'].apply(lambda x: transform_membership(x))
    df['renta'] = df['renta'].apply(lambda x: transform_income(x)) 
    return df

def extract_information(df):
    df = df[df['fecha_dato'] == '2015-06-28']
    df.fillna(method='ffill', inplace=True)
    df = df[df['age']!=' NA']
    df['antiguedad'] = df['antiguedad'].apply(lambda x: pd.to_numeric(str(x).replace('[^\d.-]', ''), errors='coerce'))
    df = transform_value(df)
    
    personal_information_encoded = {}
    label_per_user = {}
    for i, rcd in tqdm(df.iterrows(), total=len(df)):
        user_id = rcd['ncodpers']
        user_label = rcd[label_col].tolist()
        user_information = rcd[categorical_col + interval_col].tolist()
        personal_information_encoded[user_id] = user_information
        label_per_user[user_id] = user_label
    return personal_information_encoded, label_per_user
personal_in4, label = extract_information(df)

/tmp/ipykernel_657606/3883164566.py:69: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', inplace=True)
/tmp/ipykernel_657606/3883164566.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.fillna(method='ffill', inplace=True)
100%|██████████| 13/13 [00:03<00:00,  4.01it/s]
100%|██████████| 630249/630249 [03:57<00:00, 2651.38it/s]

In [5]:
user_id = list(personal_in4.keys())

def get_history_purchase(df):
    item = df.columns[-24:]
    purchase_history = df[(df['fecha_dato'] <= '2015-06-28') & df['ncodpers'].isin(user_id)][item.tolist() + ['ncodpers']]
    purchase_history.fillna(0, inplace=True)
    purchase_history[item] = purchase_history[item].astype('int8')
    
    item_buy_per_user = {}
    for i, rcd in tqdm(purchase_history.iterrows(), total=len(purchase_history)):
        ncodpers = rcd['ncodpers']
        items_bought = np.where(rcd[item] == 1)[0].tolist()
        
        if ncodpers not in item_buy_per_user:
            item_buy_per_user[ncodpers] = []
        
        item_buy_per_user[ncodpers].extend(items_bought)
    return item_buy_per_user

item_last_buy = get_history_purchase(df)

100%|██████████| 3729570/3729570 [13:34<00:00, 4576.74it/s]

In [6]:
def get_trainset(user_feature, item_bought, label):
    X_train = []
    y_train = []
    for user_id in tqdm(user_feature.keys()):
        list_bought = item_bought[user_id]
        list_bought = [i+1 for i in list_bought]
        list_bought = list_bought[-20:] if len(list_bought) >= 20 else [0]*(20 - len(list_bought)) + list_bought
        X_train.append(user_feature[user_id] + list_bought)
        y_train.append(label[user_id])
    #X_trainset = [[personal_in4, item_last_buy]*n_user]
    return X_train, y_train
X, y = get_trainset(personal_in4, item_last_buy, label)

100%|██████████| 630249/630249 [00:01<00:00, 350695.48it/s]

In [11]:
df = df[df['fecha_dato'] == '2015-06-28']
df = df[df.columns[-24:]]

In [20]:
for i in range(24):
    print(y[:, i].sum())

83.0
21.0
494007.0
316.0
59842.0
7595.0
6920.0
104600.0
35342.0
1803.0
1444.0
35083.0
64095.0
15040.0
4721.0
7355.0
2040.0
41187.0
36549.0
19675.0
3138.0
43524.0
47703.0
98651.0

In [19]:
y = np.array(y)